<div>

    <div ng-hide="controller.currentUser">
        <md-card>
            <md-subheader class="md-no-sticky subheader-bottom-border">Registered users</md-subheader>

            <md-card-content>
                <div layout="row">
                    <div flex layout="column" layout-align="center end" class="text-center">
                        <md-button class="md-raised md-primary" ng-click="controller.newUser($event)">New User</md-button>
                    </div>
                </div>
                <md-list>
                    <md-divider></md-divider>
                    <md-list-item ng-repeat="user in controller.users">
                        <p> {{ user.firstname }} {{user.lastname}}</p>
                        <md-icon class="md-secondary" ng-click="controller.editUser($event, user)">edit</md-icon>
                        <md-icon class="md-secondary" ng-click="controller.deleteUser($event, user)">delete</md-icon>

                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>

    <div ng-show="controller.currentUser">

        <md-card>
            <md-subheader class="md-no-sticky">
                <div layout="row">
                    <div flex layout="column" layout-align="center start" class="text-center">
                        <span ng-show="controller.editMode === 'EDIT';">Editing a user</span>
                        <span ng-show="controller.editMode === 'NEW';">Adding a new user</span>
                    </div>
                </div>
            </md-subheader>

            <md-card-content>
                <div layout-gt-sm="row">
                    <md-input-container class="md-icon-float md-block" flex-gt-sm>
                        <label>First Name</label>
                        <input ng-model="controller.currentUser.firstname" type="text">
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block" flex-gt-sm>
                        <label>Last Name</label>
                        <input ng-model="controller.currentUser.lastname" type="text">
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-icon-float md-block" flex-gt-sm>
                        <label>Email</label>
                        <input ng-model="controller.currentUser.email" type="text">
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block" flex-gt-sm>
                        <label>Phone Number</label>
                        <input ng-model="controller.currentUser.phoneNumber" type="text">
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-icon-float md-block" flex-gt-sm>
                        <label>Street 1</label>
                        <input ng-model="controller.currentUser.address.street1" type="text">
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block" flex-gt-sm>
                        <label>Street 2</label>
                        <input ng-model="controller.currentUser.address.street2" type="text">
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-icon-float md-block" flex-gt-sm>
                        <label>City</label>
                        <input ng-model="controller.currentUser.address.city" type="text">
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block" flex-gt-sm>
                        <label>State or Province</label>
                        <input ng-model="controller.currentUser.address.stateOrProvince" type="text">
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-icon-float md-block" flex="50">
                        <label>Country</label>
                        <input ng-model="controller.currentUser.address.countryCode" type="text">
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block" flex-gt-sm>
                        <label>Zip Code</label>
                        <input ng-model="controller.currentUser.address.zipCode" type="text">
                    </md-input-container>
                </div>


                <div layout="row" layout-align="end" flex>
                    <md-button class="md-raised md-primary" ng-click="controller.cancelEditUser($event)">Cancel
                    </md-button>
                    <md-button class="md-raised md-primary" ng-click="controller.confirmEditUser($event)">Update
                    </md-button>
                </div>
            </md-card-content>
        </md-card>
    </div>

</div>