<div>
    <md-card>
        <md-subheader class="md-no-sticky subheader-bottom-border">Test Configuration</md-subheader>

        <md-card-content>
            <div layout="row">
                <div flex="50">
                    <user-picker on-select="controller.selectedUserChanged(user)"></user-picker>
                    <md-input-container class="md-icon-float md-block test-information-input-container" flex-gt-sm>
                        <label>Payment Instrument</label>
                        <md-select flex ng-model="controller.selectedPaymentInstrument" placeholder="Payment Instrument">
                            <md-option ng-repeat="paymentInstrument in controller.paymentInstruments"
                                       ng-value="paymentInstrument">
                                <div layout="row">
                                    <span>{{paymentInstrument.creditCardType}} {{paymentInstrument.name}} {{paymentInstrument.number}} {{paymentInstrument.expiryMonth}}/{{paymentInstrument.expiryYear}} {{paymentInstrument.securityCode}}</span>
                                </div>
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block test-information-input-container" flex-gt-sm>
                        <label>Order Cart</label>
                        <md-select flex ng-model="controller.selectedOrderCart" placeholder="Order Cart">
                            <md-option ng-repeat="cart in controller.orderCarts" ng-value="cart">{{cart.description}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div flex="50">
                    <div flex="nogrow" class="event-content-card-title">Summary</div>

                    <div flex="100">asdasd</div>

                    <div flex="nogrow" layout="row" layout-align="end end">
                        <md-button class="md-raised md-primary" ng-click="controller.preAuthCartRedirect($event)">PreAuth Redirect</md-button>
                        <md-button class="md-raised md-primary" ng-click="controller.preAuthCart($event)">PreAuth</md-button>
                        <md-button class="md-raised md-primary" ng-click="controller.generateInvoice($event)">Invoice</md-button>
                    </div>
                </div>
            </div>

        </md-card-content>
    </md-card>

    <md-card ng-repeat="event in controller.events | orderBy:'-'">
        <div ng-show="event.type === 'INVOICE_EVENT';">
            <md-subheader ng-style="{'background-color':controller.getBackground(event)}" class="md-no-sticky ">
                #{{event.id}} - {{controller.getName(event)}}
            </md-subheader>

            <md-card-content>
                <div class="info-entry-row">
                    <div layout="row">
                        <div flex="nogrow" class="info-entry-row-title">Invoice Id:</div>
                        <div flex="auto">{{event.payload.id ? event.payload.id  : 'Unknown' }}</div>
                    </div>
                </div>

                <div layout="row" layout-align="end" flex>
                    <md-button class="md-raised md-primary" ng-click="controller.payInvoice($event, event.payload.id)">
                        Pay
                    </md-button>
                </div>
            </md-card-content>
        </div>
        <div ng-show="event.type === 'PAYMENT_EVENT';">
            <md-subheader ng-style="{'background-color':controller.getBackground(event)}" class="md-no-sticky ">
                #{{event.id}} - {{controller.getName(event)}}
            </md-subheader>

            <md-card-content class="event-content-card">
                <div class="event-content-card-title">Payload info</div>
                <div class="info-entry-row">
                    <div layout="row">
                        <div flex="nogrow" class="info-entry-row-title">Payment Id:</div>
                        <div flex="auto">{{event.payload.id ? event.payload.id  : 'Unknown' }}</div>
                    </div>
                </div>
                <div class="info-entry-row">
                    <div layout="row">
                        <div flex="nogrow" class="info-entry-row-title">Amount:</div>
                        <div flex="auto">{{event.payload.amount ? event.payload.amount  : 'Unknown' }} {{event.payload.currency}}</div>
                    </div>
                </div>
                <div class="info-entry-row">
                    <div layout="row">
                        <div flex="nogrow" class="info-entry-row-title">Method:</div>
                        <div flex="auto">{{event.payload.method ? event.payload.method  : 'Unknown' }}</div>
                    </div>
                </div>
                <div class="info-entry-row">
                    <div layout="row">
                        <div flex="nogrow" class="info-entry-row-title">Refund:</div>
                        <div flex="auto">{{event.payload.isRefund}}</div>
                    </div>
                </div>
                <div class="info-entry-row">
                    <div layout="row">
                        <div flex="nogrow" class="info-entry-row-title">Payment Authorization Id:</div>
                        <div flex="auto">{{event.payload.paymentAuthorizationId ? event.payload.paymentAuthorizationId  : 'Unknown' }}</div>
                    </div>
                </div>
                <div ng-show="event.payload.isSuccess" layout="row" layout-align="end" flex>
                    <md-button class="md-raised md-primary"
                               ng-click="controller.refundPayment($event, event.payload.id, event.payload.invoiceId)">
                        Refund
                    </md-button>
                </div>
            </md-card-content>
        </div>
        <div ng-show="event.type === 'REFUND_EVENT';">
            <md-subheader ng-style="{'background-color':controller.getBackground(event)}" class="md-no-sticky ">
                #{{event.id}} - {{controller.getName(event)}}
            </md-subheader>

            <md-card-content class="event-content-card">
                <div class="event-content-card-title">Payload info</div>
                <div class="info-entry-row">
                    <div layout="row">
                        <div flex="nogrow" class="info-entry-row-title">Payment Id:</div>
                        <div flex="auto">{{event.payload.id ? event.payload.id  : 'Unknown' }}</div>
                    </div>
                </div>
                <div class="info-entry-row">
                    <div layout="row">
                        <div flex="nogrow" class="info-entry-row-title">Amount:</div>
                        <div flex="auto">{{event.payload.amount ? event.payload.amount  : 'Unknown' }} {{event.payload.currency}}</div>
                    </div>
                </div>
                <div class="info-entry-row">
                    <div layout="row">
                        <div flex="nogrow" class="info-entry-row-title">Method:</div>
                        <div flex="auto">{{event.payload.method ? event.payload.method  : 'Unknown' }}</div>
                    </div>
                </div>
                <div class="info-entry-row">
                    <div layout="row">
                        <div flex="nogrow" class="info-entry-row-title">Refund:</div>
                        <div flex="auto">{{event.payload.isRefund ? event.payload.isRefund  : 'Unknown' }}</div>
                    </div>
                </div>
                <div class="info-entry-row">
                    <div layout="row">
                        <div flex="nogrow" class="info-entry-row-title">Payment Authorization Id:</div>
                        <div flex="auto">{{event.payload.paymentAuthorizationId ? event.payload.paymentAuthorizationId  : 'Unknown' }}</div>
                    </div>
                </div>
            </md-card-content>
        </div>
        <div ng-show="event.type === 'PREAUTH_EVENT';">
            <md-subheader ng-style="{'background-color':controller.getBackground(event)}" class="md-no-sticky ">
                #{{event.id}} - {{controller.getName(event)}}
            </md-subheader>

            <md-card-content class="event-content-card">
                <div class="event-content-card-title">Payload info</div>
                <div class="info-entry-row">
                    <div layout="row">
                        <div flex="nogrow" class="info-entry-row-title">Payment Id:</div>
                        <div flex="auto">{{event.payload.id ? event.payload.id  : 'Unknown' }}</div>
                    </div>
                </div>
                <div class="info-entry-row">
                    <div layout="row">
                        <div flex="nogrow" class="info-entry-row-title">Payment Authorization Id:</div>
                        <div flex="auto">{{event.payload.id ? event.payload.paymentAuthorizationId  : 'Unknown' }}</div>
                    </div>
                </div>
                <div class="info-entry-row">
                    <div layout="row">
                        <div flex="nogrow" class="info-entry-row-title">User Id:</div>
                        <div flex="auto">{{event.payload.userId ? event.payload.userId  : 'Unknown' }}</div>
                    </div>
                </div>
                <div class="info-entry-row">
                    <div layout="row">
                        <div flex="nogrow" class="info-entry-row-title">Transaction Id:</div>
                        <div flex="auto">{{event.payload.transactionId ? event.payload.transactionId  : 'Unknown' }}</div>
                    </div>
                </div>
            </md-card-content>
        </div>
    </md-card>
</div>
