.app-body  {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}

.bg-green {
  background-color: green;
}

.sidenav-item-sizing {
  width: 100%
}

.sidenav-item-icon {
  padding-left: 15px;
}

md-input-container {
  margin: 6px 0;
}

.test-information-input-container {
  margin: 18px 0;
}

.subheader-bottom-border {
  border-bottom: solid #757575 1px
}